
.backtotop {
  background-color: #ff4d4d;
}

.backtohome {
  background-color: #4da6ff;
}

.button {
  background-color: #333;
}

.about {
  background-color: #28a745;
}

.carriers {
  background-color: #ff9900;
}

.globalbtn {
  padding: 10px 18px;
  margin: 10px;
  background-color: #4da6ff;
  color: white;
  border: none;
  border-radius: 6px;
}