.firstcss{
    color: red;
}

.secondcss{
    background-color: blue;
    height: 2vmax;
    width: 1vmax;
}

.li-color{
    background-color: antiquewhite;
}

.listyle{
    color: blueviolet;
    height: 5rem;
    width: 5rem;
}